[package]
name = "slicec-cs"
version = "0.1.0"
authors = ["ZeroC Inc."]
description = """
The slicec-cs compiler, for compiling Slice files into C# code.
"""
keywords = ["slice", "ice", "icerpc"]
license = "Apache-2.0"
edition = "2018"

[dependencies]
# Uses the github repo when built locally, and Crates.io when published.
slicec = { git = "ssh://git@github.com/zeroc-ice/icerpc", version = "0.1.0" }
structopt = "0.3.13"
regex = "1.5"
blake2 = "0.9.2"

[[bin]]
name = "slicec-cs"
path = "src/main.rs"
