[package]
name = "slicec-cs"
version = "0.2.0"
authors = ["ZeroC Inc."]
description = """
The slicec-cs compiler, for compiling Slice files into C# code.
"""
keywords = ["slice", "ice", "icerpc"]
license = "Apache-2.0"
edition = "2021"
rust-version = "1.70"

[dependencies]
clap = { version = "4.3.15", features = ["derive"] }
convert_case = "0.6.0"
in_definite = "0.2.5"
slicec = "0.1.1"

[dev-dependencies]
test-case = "3.1.0"

[[bin]]
name = "slicec-cs"
path = "src/main.rs"
