[package]
name = "slicec-cs"
version = "0.1.0"
authors = ["ZeroC Inc."]
description = """
The slicec-cs compiler, for compiling Slice files into C# code.
"""
keywords = ["slice", "ice", "icerpc"]
license = "Apache-2.0"
edition = "2021"

[dependencies]
# Uses the github repo when built locally, and Crates.io when published.
slicec = { git = "ssh://git@github.com/icerpc/slicec", version = "0.1.0" }

[[bin]]
name = "slicec-cs"
path = "src/main.rs"
