name: "Build .NET Packages"

on:
  workflow_call:
    inputs:
      icerpc_version:
        required: false
        type: string
  workflow_dispatch:
    inputs:
      icerpc_version:
        description: "The IceRPC version to build"
        required: false

jobs:
  build-compiler:
    timeout-minutes: 10
    strategy:
      matrix:
        include:
          - os: macos-15
            target: x86_64-apple-darwin
            compiler-exe: slicec-cs
          - os: macos-15
            target: aarch64-apple-darwin
            compiler-exe: slicec-cs
          - os: ubuntu-24.04
            target: x86_64-unknown-linux-gnu
            compiler-exe: slicec-cs
          - os: ubuntu-24.04
            target: aarch64-unknown-linux-gnu
            compiler-exe: slicec-cs
          - os: windows-2025
            target: x86_64-pc-windows-msvc
            compiler-exe: slicec-cs.exe
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        uses: ./.github/actions/build-compiler
        with:
          cargo-build-args: --release
          target: ${{ matrix.target }}

      - name: Archive Build
        uses: actions/upload-artifact@v4
        with:
          name: slicec-cs-${{ matrix.target }}
          path: tools/slicec-cs/target/${{ matrix.target }}/release/${{ matrix.compiler-exe }}

  build-packages:
    runs-on: windows-2025
    timeout-minutes: 10
    needs: build-compiler
    env:
      SLICEC_CS_STAGING_PATH: ${{ github.workspace }}\tools\slicec-cs\staging
      VERSION: ${{ inputs.icerpc_version }}
    steps:
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.0.x

      - uses: actions/checkout@v4

      - name: Download slicec-cs compiler artifacts
        uses: actions/download-artifact@v4

      - name: Set version from tag
        run: |
          $version = $env:GITHUB_REF -replace '^refs/tags/v',''
          echo "VERSION=$version" >> $env:GITHUB_ENV

      - name: Copy slicec-cs binaries to staging path
        run: |
          @("macos-x64", "macos-arm64", "linux-x64", "linux-arm64", "windows-x64") | ForEach-Object { New-Item -ItemType Directory -Path $env:GITHUB_WORKSPACE\tools\slicec-cs\staging -Name $_ }
          Copy-Item "slicec-cs-x86_64-apple-darwin\slicec-cs" -Destination "$env:GITHUB_WORKSPACE\tools\slicec-cs\staging\macos-x64"
          Copy-Item "slicec-cs-aarch64-apple-darwin\slicec-cs" -Destination "$env:GITHUB_WORKSPACE\tools\slicec-cs\staging\macos-arm64"
          Copy-Item "slicec-cs-x86_64-unknown-linux-gnu\slicec-cs" -Destination "$env:GITHUB_WORKSPACE\tools\slicec-cs\staging\linux-x64"
          Copy-Item "slicec-cs-aarch64-unknown-linux-gnu\slicec-cs" -Destination "$env:GITHUB_WORKSPACE\tools\slicec-cs\staging\linux-arm64"
          Copy-Item "slicec-cs-x86_64-pc-windows-msvc\slicec-cs.exe" -Destination "$env:GITHUB_WORKSPACE\tools\slicec-cs\staging\windows-x64"

          # Copy the compiler to the expected location to avoid rebuilding it when creating the NuGet packages
          New-Item -ItemType Directory -Path "$env:GITHUB_WORKSPACE\tools\slicec-cs\target\release"
          Copy-Item "slicec-cs-x86_64-pc-windows-msvc\slicec-cs.exe" -Destination "$env:GITHUB_WORKSPACE\tools\slicec-cs\target\release"

      - name: Build IceRPC Tools
        working-directory: tools
        run: dotnet build --configuration Release

      - name: Build IceRPC
        run: dotnet build --configuration Release

      - name: Collect Files to Sign
        run: |
            $assemblies = @(
                'src\IceRpc.Extensions.DependencyInjection\bin\Release\net10.0\IceRpc.Extensions.DependencyInjection.dll'
                'src\IceRpc.Protobuf.Generators\bin\Release\netstandard2.0\IceRpc.Protobuf.Generators.dll'
                'src\IceRpc.Telemetry\bin\Release\net10.0\IceRpc.Telemetry.dll'
                'src\IceRpc.Locator\bin\Release\net10.0\IceRpc.Locator.dll'
                'src\IceRpc.RequestContext\bin\Release\net10.0\IceRpc.RequestContext.dll'
                'src\IceRpc\bin\Release\net10.0\IceRpc.dll'
                'src\IceRpc.Logger\bin\Release\net10.0\IceRpc.Logger.dll'
                'src\IceRpc.Retry\bin\Release\net10.0\IceRpc.Retry.dll'
                'src\IceRpc.Transports.Coloc\bin\Release\net10.0\IceRpc.Transports.Coloc.dll'
                'src\IceRpc.Compressor\bin\Release\net10.0\IceRpc.Compressor.dll'
                'src\IceRpc.Metrics\bin\Release\net10.0\IceRpc.Metrics.dll'
                'src\IceRpc.Slice\bin\Release\net10.0\IceRpc.Slice.dll'
                'src\IceRpc.Transports.Quic\bin\Release\net10.0\IceRpc.Transports.Quic.dll'
                'src\IceRpc.Deadline\bin\Release\net10.0\IceRpc.Deadline.dll'
                'src\IceRpc.Protobuf\bin\Release\net10.0\IceRpc.Protobuf.dll'
                'src\IceRpc.Slice.Generators\bin\Release\netstandard2.0\IceRpc.Slice.Generators.dll'
                'src\ZeroC.Slice\bin\Release\net10.0\ZeroC.Slice.dll'
                'tools\IceRpc.Protobuf.Tools\bin\Release\net10.0\IceRpc.Protobuf.Tools.dll'
                'tools\IceRpc.ProtobufBuildTelemetry.Reporter\bin\Release\net10.0\IceRpc.ProtobufBuildTelemetry.Reporter.dll'
                'tools\IceRpc.ProtocGen\bin\Release\net10.0\IceRpc.ProtocGen.dll'
                'tools\IceRpc.Slice.Tools\bin\Release\net10.0\IceRpc.Slice.Tools.dll'
                'tools\IceRpc.SliceBuildTelemetry.Reporter\bin\Release\net10.0\IceRpc.SliceBuildTelemetry.Reporter.dll'
                'tools\slicec-cs\staging\windows-x64\slicec-cs.exe'
            )

            $assemblies |
                Set-Content -Path "${{ github.workspace }}\catalog.txt" -Encoding UTF8

      - name: Sign .NET Assemblies and slicec-cs.exe compiler
        uses: azure/trusted-signing-action@v0
        with:
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
          azure-client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
          endpoint: https://eus.codesigning.azure.net/
          trusted-signing-account-name: zeroc
          certificate-profile-name: zeroc-ice
          files-catalog: ${{ github.workspace }}\catalog.txt
          file-digest: SHA256
          timestamp-rfc3161: http://timestamp.acs.microsoft.com
          timestamp-digest: SHA256

      # Use --no-build to avoid rebuilding, we want to use the signed assemblies that were built in the previous step.
      - name: Pack IceRPC Tools
        working-directory: tools
        run: dotnet pack --no-build --configuration Release --output ../

      - name: Pack IceRPC
        run: dotnet pack --no-build --configuration Release --output .

      - name: Pack IceRPC Templates
        working-directory: src/IceRpc.Templates
        run: dotnet pack --configuration Release --output ../../

      - name: Upload packages
        uses: actions/upload-artifact@v4
        with:
          name: packages
          path: |
            ./*.nupkg
            ./*.snupkg
