name: ci

on:
  push:
    branches: ["0.3.x"]
  pull_request:
    branches: ["0.3.x"]

jobs:
  build_and_test:

    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Build
      uses: ./.github/actions/build
    - name: Publish
      uses: ./.github/actions/publish
    - name: Build Examples
      uses: ./.github/actions/build-examples
    - name: Run Tests
      uses: ./.github/actions/test
    - name: Test Templates
      uses: ./.github/actions/test-templates
