name: ci

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build_and_test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        uses: ./.github/actions/build
      - name: Publish
        uses: ./.github/actions/publish
      - name: Run Tests
        uses: ./.github/actions/test
      - name: Install Templates
        run: dotnet new install src/IceRpc.Templates/bin/Debug/IceRpc.Templates.*.nupkg
        shell: bash
      - name: Test Templates
        uses: ./.github/actions/test-templates
      - name: Build Examples
        uses: ./.github/actions/build-examples
      - name: Build DocFX Examples
        run: dotnet build docfx/examples/Examples.sln
        shell: bash
