name: ci

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

# See https://docs.github.com/en/actions/using-jobs/using-concurrency#example-using-a-fallback-value
concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build_and_test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-24.04, macos-26, windows-2025]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    steps:
      - name: Dump System Information
        if: runner.os != 'Windows'
        shell: bash
        run: |
          ulimit -a
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build
        uses: ./.github/actions/build
      - name: Publish
        uses: ./.github/actions/publish
      - name: Run Tests
        uses: ./.github/actions/test
      - name: Install Templates
        run: dotnet new install src/IceRpc.Templates/bin/Debug/IceRpc.Templates.*.nupkg
        shell: bash
      - name: Test Templates
        uses: ./.github/actions/test-templates
      - name: Build Examples
        env:
          # Set IceRpcVersion to use the locally build packages
          IceRpcVersion: "0.5.0-preview.1"
        run: |
          for solution in examples/*/*/*.sln; do dotnet build "$solution"; done
        shell: bash
      - name: Build DocFX Examples
        run: dotnet build docfx/examples/Examples.sln
        shell: bash
