name: docs

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  docfx:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        uses: ./.github/actions/build

      - name: Build Docs
        run: |
            dotnet tool install --global docfx
            ./build.sh --doc

      - name: Sync to S3
        run: aws s3 sync ./docfx/_site s3://${{ secrets.AWS_S3_BUCKET }}/csharp/${{ github.ref_name }}/api --delete
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: us-east-1
        if: github.event_name != 'pull_request'
