name: Continuous Integration

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build_and_test:

    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - uses: ./.github/actions/build.yaml
      env:
        ICERPC_DEPLOY_KEY: ${{ secrets.ICERPC_DEPLOY_KEY }}
        NUGET_API_TOKEN: ${{ secrets.NUGET_API_TOKEN }}
    - uses: ./.github/actions/tests.yaml
