name: .NET

on:
  push:
    branches: ["main", "new-compiler"]
  pull_request:
    branches: ["main", "new-compiler"]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '6.0.x'
    - name: Start Ssh Agent
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.ICERPC_DEPLOY_KEY }}
    - name: Setup Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        components: clippy
    - name: Build Slice Compiler
      run: cd tools/slicec-cs && cargo build
    - name: Add github NuGet respository
      run: dotnet nuget add source "https://nuget.pkg.github.com/zeroc-ice/index.json" -n GitHub -u pepone --store-password-in-clear-text -p ${{ secrets.NUGET_API_KEY }}
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal --collect:"XPlat Code Coverage"
    - name: ReportGenerator
      uses: danielpalme/ReportGenerator-GitHub-Action@4.8.4
      with:
        reports: 'tests/*/TestResults/*/coverage.cobertura.xml'
        targetdir: 'tests/coverage-report'
        reporttypes: 'Html'
    - name: Compress reports
      run: tar cv tests/coverage-report/ | gzip --best > coverage.tar.gz
    - uses: actions/upload-artifact@v2
      with:
        name: coverage-report
        path: coverage.tar.gz
        retention-days: 5
