name: .NET

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Setup .NET
      run:  mkdir $HOME/dotnet_install && cd $HOME/dotnet_install && curl -L https://aka.ms/install-dotnet-preview -o install-dotnet-preview.sh && sudo bash install-dotnet-preview.sh
    - name: Install Slice compiler dependencies
      run: sudo apt-get install libmcpp-dev
    - uses: actions/checkout@v2
    - name: Build Slice compiler
      run: make -j8 V=1 -C ./cpp
    - name: Add github NuGet respository
      run: dotnet nuget add source --username pepone --password ${{ secrets.NUGET_API_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/zeroc-ice/index.json"
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal --collect:"XPlat Code Coverage"
    - name: ReportGenerator
      uses: danielpalme/ReportGenerator-GitHub-Action@4.8.4
      with:
        reports: 'tests/*/TestResults/*/coverage.cobertura.xml'
        targetdir: 'tests/coverage-report'
        reporttypes: 'Html'
    - name: Compress reports
      run: tar cv tests/coverage-report/ | gzip --best > coverage.tar.gz
    - uses: actions/upload-artifact@v2
      with:
        name: coverage-report
        path: coverage.tar.gz
        retention-days: 5
