name: .NET

on:
  push:
    branches:
      - main
      - nunit-testing
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Install Slice compiler dependencies
      run: sudo apt-get install libmcpp-dev
    - uses: actions/checkout@v2
    - name: Build Slice compiler
      run: make -C ./cpp
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal --collect:"XPlat Code Coverage"
    - name: ReportGenerator
      uses: danielpalme/ReportGenerator-GitHub-Action@4.8.4
      with:
        reports: 'tests\*\TestResults\*\coverage.cobertura.xml'
        targetdir: 'tests\coveragereport'
        reporttypes: 'Html'
