name: release

on:
  push:
    tags:
    - 'v[0-9]+.[0-9]+.[0-9]+-preview[0-9]+'


env:
  SignTool: C:\Program Files (x86)\Windows Kits\10\bin\10.0.20348.0\x64\signtool.exe

jobs:
  build-compiler:
    timeout-minutes: 10
    strategy:
      matrix:
        include:
          - os: macos-11
            target: x86_64-apple-darwin
            compiler-exe: slicec-cs
          - os: macos-11
            target: aarch64-apple-darwin
            compiler-exe: slicec-cs
          - os: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
            compiler-exe: slicec-cs
          - os: ubuntu-22.04
            target: aarch64-unknown-linux-gnu
            compiler-exe: slicec-cs
          - os: windows-2022
            target: x86_64-pc-windows-msvc
            compiler-exe: slicec-cs.exe
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Build
        uses: ./.github/actions/build-compiler
        with:
          cargo-build-args: --release
          target: ${{ matrix.target }}
        env:
          SLICEC_DEPLOY_KEY: ${{ secrets.SLICEC_DEPLOY_KEY }}
      - name: Archive Build
        uses: actions/upload-artifact@v3
        with:
          name: slicec-cs-${{ matrix.target }}
          path: tools/slicec-cs/target/${{ matrix.target }}/release/${{ matrix.compiler-exe }}
  build-packages:
    runs-on: windows-2022
    timeout-minutes: 10
    needs: build-compiler
    steps:
      - uses: actions/checkout@v3
      - name: Download slicec-cs compiler artifacts
        uses: actions/download-artifact@v3
      - name: Set Enviroment
        run: echo "VERSION=$($env:GITHUB_REF.TrimStart('refs/tags/v'))" >> $env:GITHUB_ENV
      - name: Create Tools directory structure
        run: |
          @("macos-x64", "macos-arm64", "linux-x64", "linux-arm64", "windows-x64") | ForEach-Object { New-Item -ItemType Directory -Path C:\tmp\tools -Name $_ }
          Copy-Item "slicec-cs-x86_64-apple-darwin\slicec-cs" -Destination "C:\tmp\tools\macos-x64"
          Copy-Item "slicec-cs-aarch64-apple-darwin\slicec-cs" -Destination "C:\tmp\tools\macos-arm64"
          Copy-Item "slicec-cs-x86_64-unknown-linux-gnu\slicec-cs" -Destination "C:\tmp\tools\linux-x64"
          Copy-Item "slicec-cs-aarch64-unknown-linux-gnu\slicec-cs" -Destination "C:\tmp\tools\linux-arm64"
          Copy-Item "slicec-cs-x86_64-pc-windows-msvc\slicec-cs.exe" -Destination "C:\tmp\tools\windows-x64"
      - name: Create Code Signing Certificate
        run: |
          mkdir C:\tmp\certificates
          Set-Content -Path C:\tmp\certificates\certificate.pfx.base64 -Value '${{ secrets.SIGN_CERTIFICATE }}'
          certutil -decode C:\tmp\certificates\certificate.pfx.base64 C:\tmp\certificates\certificate.pfx
          Remove-Item C:\tmp\certificates\certificate.pfx.base64
      - name: Build
        uses: ./.github/actions/build
        with:
          cargo-build-args: --release
          dotnet-build-args: --configuration Release
        env:
          SLICEC_DEPLOY_KEY: ${{ secrets.SLICEC_DEPLOY_KEY }}
          SIGN_CERTIFICATE: C:\tmp\certificates\certificate.pfx
          SIGN_PASSWORD: ${{ secrets.SIGN_PASSWORD }}
      - name: Pack IceRPC Tools
        working-directory: tools/IceRpc.Slice.Tools
        run: |
             dotnet msbuild /t:SignCompilers ../../build/Sign.targets
             dotnet pack --configuration Release --output ../../
        env:
          SLICEC_CS_STAGING_PATH: C:\tmp\tools
          SIGN_CERTIFICATE: C:\tmp\certificates\certificate.pfx
          SIGN_PASSWORD: ${{ secrets.SIGN_PASSWORD }}
      - name: Cleanup
        if: always()
        run: Remove-Item C:\tmp\certificates\certificate.pfx -ErrorAction SilentlyContinue
      - name: Pack IceRPC
        run: dotnet pack --configuration Release --output .
      - name: Push
        run: dotnet nuget push *.$env:VERSION.nupkg --source https://nuget.pkg.github.com/zeroc-ice/index.json --api-key ${{ secrets.GITHUB_TOKEN }}
