name: "Check spelling"

on:
  push:
    branches: ["0.5.x"]
  pull_request:
    branches: ["0.5.x"]

jobs:
  spellcheck:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - uses: streetsidesoftware/cspell-action@v6
        with:
          files: |
            **/*.{cs,rs,md,json,csproj,slice}
